@use '../mixins/breakpoints' as *;

//* ////////////////////
//**      HEADER
//* ///////////////////
.header {
  background-image: url('../assets/images/bg-pattern-intro-mobile.svg'),
    linear-gradient(var(--clr-pinkish-red));
  background-position: 37% 33%;

  border-radius: 0px 0px 0px 6.25rem;

  @include breakpoint(tablet) {
    background-image: url('../assets/images/bg-pattern-intro-desktop.svg'),
      linear-gradient(var(--clr-pinkish-red));
    background-position: 24% 52%;
  }
}

//* ////////////////////
//**  HEADER TOP
//* ///////////////////
.header-top {
  --measure: 90rem;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-3xs-xl);

  box-sizing: border-box;
  padding-top: var(--space-xl-2xl);
  padding-inline: var(--space-m-5xl);
  position: relative;

  @include breakpoint-custom(48em) {
    & {
      justify-content: space-between;
    }
  }

  //& //////////////////////////////////////////////////////////////////

  // for centering logo and menu on very small screens
  @include breakpoint-custom(12rem) {
    .logo {
      margin-left: auto;
      margin-right: auto;
    }

    &__navbar {
      margin-left: auto;
      margin-right: auto;
    }
  }

  //& //////////////////////////////////////////////////////////////////
  &__wrapper--buttons {
    display: none;
    margin-left: auto;
  }

  @include breakpoint-custom(59.0625em) {
    &__wrapper--buttons {
      flex-direction: column;
    }
  }

  @include breakpoint(tablet) {
    &__wrapper--buttons {
      display: flex;
    }

    &__wrapper--buttons :first-child {
      --hsla: 0.75;
    }
  }
}

//* ////////////////////
//**  HEADER BOTTOM
//* ///////////////////
.header-bottom {
  &__cta-with-text {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    padding-top: var(--space-3xl-4xl);
    padding-left: var(--space-m-10xl);
    padding-right: var(--space-m-10xl);
    padding-bottom: 9.375rem;

    & .text-info {
      display: flex;
      flex-direction: column;
      gap: var(--space-3xs-xs);
    }

    .wrapper--buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;

      & > * {
        padding: 0.9em 1.5em;
      }
    }
  }
}
