@use '../mixins/breakpoints' as *;

//* ////////////////////
//**      HEADER
//* ///////////////////
.header {
  background-image: url('../assets/images/bg-pattern-intro-mobile.svg'),
    linear-gradient(var(--clr-pinkish-red));
  background-position: 37% 33%;

  border-radius: 0px 0px 0px 6.25rem;

  @include breakpoint(tablet) {
    background-image: url('../assets/images/bg-pattern-intro-desktop.svg'),
      linear-gradient(var(--clr-pinkish-red));
    background-position: 24% 52%;
  }
}

//* ////////////////////
//**  HEADER TOP
//* ///////////////////
.header-top {
  --measure: 90rem;

  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  justify-items: end;

  box-sizing: border-box;
  padding-top: var(--space-xl-2xl);
  padding-inline: var(--space-m-5xl);
  position: relative;

  &__logo {
  }

  &__navbar {
    .menu {
      display: block;
    }

    .nav-list {
      display: none;

      .tab.has-submenu {
        .sub-menu {
          display: none;
        }
      }
    }

    .menu[aria-expanded='true'] + .nav-list {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, 1fr);
      align-items: start;
      justify-items: center;

      position: absolute;
      top: 119%;
      right: 7%;

      background: #ffffff;
      box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.243444);
      border-radius: 5px;
      height: 511px;
      width: 324px;
    }

    .nav-list {
      .tab.has-submenu {
        .tab__item[aria-expanded='true'] + button + .sub-menu {
          display: block;
        }
      }
    }
  }

  // make logo and menu stack on very small screen sizes
  @include breakpoint-custom(11.6875em) {
    & {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      justify-items: center;

      &__logo {
        grid-column: 1/2;
        grid-row: 1/2;
      }

      &__navbar {
        grid-column: 1/2;
        grid-row: 2/3;
      }
    }
  }

  @include breakpoint(tablet) {
    & {
      &__navbar {
        .menu {
          display: none;
        }

        .nav-list {
          display: flex;
        }
      }
    }
  }
}

//* ////////////////////
//**  HEADER BOTTOM
//* ///////////////////
.header-bottom {
  &__cta-with-text {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    padding-top: var(--space-3xl-4xl);
    padding-left: var(--space-m-10xl);
    padding-right: var(--space-m-10xl);
    padding-bottom: 9.375rem;

    & .text-info {
      display: flex;
      flex-direction: column;
      gap: var(--space-3xs-xs);
    }

    .wrapper--buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;

      & > * {
        padding: 0.9em 1.5em;
      }
    }
  }
}
