@use '../mixins/breakpoints' as *;

.product-mobile {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 13.8125rem 25.25rem;
  justify-items: center;

  background-image: url('../assets/images/bg-pattern-circles.svg'),
    linear-gradient(var(--clr-onyx));

  border-radius: 0px 6.25rem;
  margin-top: 17.0625rem;

  &__image {
    --d: 16;

    // width: 327px;
    // height: 348px;
    max-width: 26.6875rem;
    transform: translateY(-50%);

    img {
    }
  }

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.625rem;

    padding: 1.5rem;

    span,
    p {
      max-width: 49ch;
      text-align: center;
    }
  }

  @include breakpoint(tablet) {
    & {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 25rem;
      align-items: center;

      &__image {
        transform: translateY(0);
        img {
        }
      }

      &__content {
        span,
        p {
          text-align: start;
        }
      }
    }
  }
}
