@use '../mixins/breakpoints' as *;

.product {
  --min: 376px;
  grid-gap: 2.875rem;

  align-items: center;

  overflow: hidden;

  &__image {
    --d: 0;

    grid-column: 1/2;
    grid-row: 1/2;

    align-items: flex-start;
  }

  &__content {
    grid-column: 1/2;
    grid-row: 2/3;

    display: flex;
    flex-direction: column;
    gap: var(--space-l-xl);

    padding-left: var(--space-m-5xl);
    padding-right: 1.5rem;

    .wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1rem;

      h3,
      p {
        max-width: 49.7ch;
        text-align: center;
      }
    }
  }

  @include breakpoint(tablet) {
    & {
      grid-gap: 0;
    }

    &__image {
      grid-column: 2/3;
      transform: translateX(26%);
    }

    &__content {
      grid-column: 1/2;
      grid-row: 1/2;

      padding-right: 0;

      .wrapper {
        align-items: flex-start;
        h3,
        p {
          text-align: start;
        }
      }
    }
  }
}
