//* background
.bg-light-red {
  background-color: hsl(var(--clr-light-red), --hsla);
}

.bg-very-light-red {
  background-color: hsl(var(--clr-very-light-red), --hsla);
}

.bg-very-dark-blue {
  background-color: hsl(var(--clr-very-dark-blue), --hsla);
}

.bg-white {
  background-color: hsl(var(--clr-white), --hsla);
}

.bg-grayish-blue {
  background-color: hsl(var(--clr-grayish-blue), --hsla);
}

.bg-very-dark-grayish-blue {
  background-color: hsl(var(--clr-very-dark-grayish-blue), --hsla);
}

.bg-very-dark-black-blue {
  background-color: hsl(var(--clr-very-dark-black-blue), --hsla);
}

.bg-pinkish-red {
  background-color: hsl(var(--clr-pinkish-red), --hsla);
}

.bg-onyx {
  background-color: hsl(var(--clr-onyx), --hsla);
}

//* text
.text-light-red {
  background-color: hsl(var(--clr-light-red), --hsla);
}

.text-very-light-red {
  background-color: hsl(var(--clr-very-light-red), --hsla);
}

.text-very-dark-blue {
  background-color: hsl(var(--clr-very-dark-blue), --hsla);
}

.text-white {
  background-color: hsl(var(--clr-white), --hsla);
}

.text-grayish-blue {
  background-color: hsl(var(--clr-grayish-blue), --hsla);
}

.text-very-dark-grayish-blue {
  background-color: hsl(var(--clr-very-dark-grayish-blue), --hsla);
}

.text-very-dark-black-blue {
  background-color: hsl(var(--clr-very-dark-black-blue), --hsla);
}

.text-pinkish-red {
  background-color: hsl(var(--clr-pinkish-red), --hsla);
}

.text-onyx {
  background-color: hsl(var(--clr-onyx), --hsla);
}
