.lh-small {
  line-height: 1;
}

.lh-regular {
  line-height: 1.5;
}

.lh-large {
  line-height: 2;
}

.lh-28 {
  line-height: 1.75rem;
}

.lh-32 {
  line-height: 2rem;
}

.lh-55 {
  line-height: 3.4375rem;
}

.lh-61 {
  line-height: 3.8125rem;
}
