.btn {
  --color-text: hsl(var(--clr-white), var(--hsla));
  --color-bg: hsl(var(--clr-very-light-red), var(--hsla));

  background-color: var(--color-bg);
  border: none;
  border-radius: 1.75rem;
  color: var(--color-text);
  cursor: pointer;
  font-family: var(--ff-ubuntu);
  font-weight: var(--fw-bold);
  padding: 0.9em 2.5em;
}

.btn:hover {
  --color-text: hsl(var(--clr-very-light-red));
  --color-bg: hsl(var(--clr-white));
}

.btn.invert {
  --color-text: hsl(var(--clr-very-light-red));
  --color-bg: hsl(var(--clr-white));
}

.btn.invert:hover {
  --color-text: hsl(var(--clr-white));
  --color-bg: hsl(var(--clr-very-light-red));
}

.btn.white-border {
  border: 1px solid hsl(var(--clr-white));
}
