@use '../mixins/breakpoints' as *;

.menu {
  display: none;

  background-color: transparent;
  border: none;
  cursor: pointer;

  @include breakpoint-custom(47.9375em) {
    & {
      display: block;
    }
  }
}
